<template name="test">
	<ul>
		{{#each recipients}}
			<li>
			{{#if editMode}}
				{{> editTest}}
			{{else}}
				{{> readTest}}
			{{/if}}
			</li>
		{{else}}
			There are no recipients yet.
		{{/each}}
	</ul>
</template>

<template name="readTest">
	{{name}} {{#if category}}({{category}}){{/if}}
	<button type="button" class="edit">Edit</button>
</template>


<template name="editTest">
	<form class="edit-form">
		<input type="text" name="name" value="{{name}}" placeholder="Name of recipient" required />
		<input type="text" name="category" value="{{category}}" placeholder="Category" />
		<button type="submit">Submit</button>
	</form>
</template>