<template name="formSettings">
	<form class="settings">
		<label for="currency">Currency: </label>
		<select id="currency">
			{{{isSelected 'EUR' settings.currency}}}
			{{{isSelected 'USD' settings.currency}}}
		</select>
		<span class="error">{{errormessage "currency"}}</span><br>
		<label for="exchangeRate">Exchange Rate: 1 {{getCurrentCurrency}} = </label>
		<input type="text" id="exchangeRate" placeholder="Exchange Rate" value="{{settings.exchangeRate}}" /> {{toggleCurrency getCurrentCurrency}}
		<span class="error">{{errormessage "exchangeRate"}}</span>
		<button type="submit">Update</button><br>
		<span class="error">{{firsterrormessage}}</span>
	</form>
</template>

