<div id="dashboard">
	<h1>Dashboard</h1>
	{{> adddonation this }}

	<p>Nr of programs: {{ programs }}</p>
	<p>Total contribution: {{ contributed.value }} {{ contributed.currency }}</p>
	<p>Days: {{ span.value }}</p>

</div>